extends layout
block content
  link(rel='stylesheet', href='/stylesheets/standardstyle.css')
  .page
    .panel
      .panel-heading
        h3.panel-title Support Purposes, Support Categories and Support Items
      table.table.table-bordered.table-condensed
        thead
          tr
            th.text-center Purpose
            th.text-center Outcome Domain
            th.text-center Support Category
        tbody#service
          tr
            td.text-center Core
            td.text-center Daily Living <br> Daily Living <br> Daily Living <br> Social and Community Participation <br> Work
            td.text-center 01 Assistance with Daily Life <br> 02 Transport <br> 03 Consumables <br> 04 Assistance with Social, Economic and Community Participation
          tr
            td.text-center Capital
            td.text-center Daily Living <br> Home
            td.text-center 05 Assistive Technology <br> 06 Home Modifications and Specialised Disability Accommodation (SDA)
          tr
            td.text-center Capacity Building
            td.text-center Choice and Control <br> Home <br> Social and Community Participation <br> Work <br> Relationships <br> Health and Wellbeing <br> Lifelong Learning <br> Choice and Control <br> Daily Living
            td.text-center 07 Support Coordination <br> 08 Improved Living Arrangements <br> 09 Increased Social and Community Participation <br> 10 Finding and Keeping a Job <br> 11 Improved Relationships <br> 12 Improved Health and Wellbeing <br> 13 Improved Learning <br> 14 Improved Life Choices <br> 15 Improved Daily Living Skills
    <br><br>
    .panel
      .panel-heading
        h3.panel-title Support Purposes, Support Categories and Support Items
      table.table.table-bordered.table-condensed
        thead
          tr
            th.text-center Number
            th.text-center Registration Group Name
        tbody#service
          tr
            td 0101
            td Accommodation / Tenancy Assistance
          tr
            td 0102
            td Assistance to Access and Maintain Employment or Higher Education
          tr
            td 0104
            td High Intensity Daily Personal Activities
          tr
            td 0106
            td Assistance in Coordinating or Managing Life Stages, Transitions And Supports
          tr
            td 0107
            td Daily Personal Activities
          tr
            td 0108
            td Assistance with Travel/Transport Arrangements
          tr
            td 0115
            td Assistance with Daily Life Tasks in a Group or Shared Living Arrangement
          tr
            td 0116
            td Innovative Community Participation
          tr
            td 0117
            td Development of Daily Living and Life Skills
          tr
            td 0120
            td Household Tasks
          tr
            td 0125
            td Participation in Community, Social and Civic Activities
          tr
            td 0127
            td Management of Funding for Supports in Participants&rsquo; Plans
          tr
            td 0129
            td Specialised Driver Training
          tr
            td 0130
            td Assistance Animals
          tr
            td 0131
            td Specialised Disability Accommodation
          tr
            td 0133
            td Specialised Supported Employment
          tr
            td 0136
            td Group and Centre Based Activities
          tr
            td 0110
            td Specialist Positive Behaviour Support
          tr
            td 0114
            td Community Nursing Care
          tr
            td 0118
            td Early Intervention Supports for Early Childhood